@page "/ranking"
@using SilkroadWebsite.Components.Layout
@using SilkroadWebsite.Components.Ranking.Pages

@rendermode InteractiveServer
@inject NavigationManager Navigation

<Breadcrumb PageTitle="Ranking" BackgroundImage="/image/slider/1.jpg" />
<div class="subpage-content">

<RadzenButton ButtonStyle="ButtonStyle.Warning" Variant="Variant.Flat" Shade="Shade.Darker" Icon="account_box" class="m-1" Click=@(() => Navigation.NavigateTo("/ranking/player")) Text="Player" />
<RadzenButton ButtonStyle="ButtonStyle.Danger" Variant="Variant.Flat" Shade="Shade.Darker" Icon="dashboard" class="m-1" Click=@(() => Navigation.NavigateTo("/ranking/guild")) Text="Guild" />
</div>
<br/> <br/>

@code {
    protected override async Task OnInitializedAsync()
    { }
}
