@page "/rankings"
@using SilkroadWebsite.Components.Layout

<Breadcrumb PageTitle="Ranking" BackgroundImage="/image/slider/1.jpg" />

<div class="subpage-content">
    <div class="container ranking-section py-5">
        <RankingsContent />
    </div>
</div>