<RadzenCard Variant="Variant.Text">
<div class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow>

    <div class="uk-slideshow-items" style="border-radius: 1%">
        <div>
           <RadzenImage Path="image/slider/ruby_header_home_dark.jpg"/>
        </div>
        <div>
           <RadzenImage Path="image/slider/ruby_header_home_light.jpg" />
        </div>
        <div>
           <RadzenImage Path="image/slider/ruby_header_home_light.jpg" />
        </div>
    </div>

</div>
</RadzenCard>

@code {
}