<footer class="footer py-4">
    <div class="container">
        <div class="row">
            <!-- Column 1: Branding/Logo -->
            <div class="col-md-4 mb-3">
                <a href="/" class="footer-logo">
                    <img src="/logo.png" alt="Ruby Online" height="256" />
                </a>
                <p class="mt-2">Ruby Online: Join the ultimate showdown.</p>
            </div>
            <!-- Column 2: Navigation Links -->
            <div class="col-md-4 mb-3">
                <h5>Explore</h5>
                <ul class="list-unstyled">
                    <li><a href="/news" class="footer-link">News</a></li>
                    <li><a href="/characters" class="footer-link">Characters</a></li>
                    <li><a href="/media" class="footer-link">Media</a></li>
                    <li><a href="/play" class="footer-link">Play Now</a></li>
                </ul>
            </div>
            <!-- Column 3: Legal & Social -->
            <div class="col-md-4 mb-3">
                <h5>Connect</h5>
                <ul class="list-unstyled">
                    <li><a href="/terms" class="footer-link">Terms of Use</a></li>
                    <li><a href="/privacy" class="footer-link">Privacy Policy</a></li>
                    <li><a href="/support" class="footer-link">Support</a></li>
                </ul>
                <div class="social-icons mt-3">
                    <a href="https://twitter.com" target="_blank" class="me-2">
                        <i class="bi bi-twitter"></i>
                    </a>
                    <a href="https://youtube.com" target="_blank" class="me-2">
                        <i class="bi bi-youtube"></i>
                    </a>
                    <a href="https://discord.com" target="_blank">
                        <i class="bi bi-discord"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center mt-3">
                <p class="mb-0">&copy; 2025 Ruby Games. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>