
@inherits LayoutComponentBase 
@inject NavigationManager Navigation
@using Microsoft.AspNetCore.Components.Routing

<div class="page">
    <NavMenu />
    @if (IsHomePage())
    {
        <Slider />
    }
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
    <Footer />
</div>

@code {
    private string? currentUrl;

    private bool IsHomePage()
    {
        // Check if the current route is the home page
        var relativeUri = Navigation.ToBaseRelativePath(Navigation.Uri);
        return string.IsNullOrEmpty(relativeUri) || relativeUri == "/";
    }

    private void NavigateTo(string url) => Navigation.NavigateTo($"{url}");


    protected override void OnInitialized()
    {
        currentUrl = Navigation.ToBaseRelativePath(Navigation.Uri);
        Navigation.LocationChanged += OnLocationChanged;
    }

    private void OnLocationChanged(object? sender, LocationChangedEventArgs e)
    {
        currentUrl = Navigation.ToBaseRelativePath(e.Location);
        StateHasChanged();
    }

    public void Dispose()
    {
        Navigation.LocationChanged -= OnLocationChanged;
    }
}
@* <div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
 *@